<!DOCTYPE html>
<html>
<head>
  <title>Recherche conférences</title>
</head>

<body>
  <h1>Gestionnaire de conférences</h1>

  {% include "profile.html" %}
  <br><br>

  {% include "upcoming.html" %}
  <br><br>

  <h2>Statistiques des conférences</h2>
  <a href="{{ url_for('statistiques') }}">Voir les statistiques</a>
  <br><br>

  {% include "recherche.html" %}

  {% include "render.html" %}

  <script>
    function fillWithProfile() {
      const input = document.getElementById("keywords")
      input.value = "{{ profile }}"
    }
  </script>

</body>
</html>
