<!DOCTYPE html>
<html>
<head>
  <title>Recherche conférences</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

  <h1>Gestionnaire de conférences</h1>

  <section>
    {% include "profile.html" %}
  </section>

  <section>
    {% include "upcoming.html" %}
  </section>

  <section>
    <h2>Statistiques des conférences</h2>
    <a href="{{ url_for('statistiques') }}">Voir les statistiques</a>
  </section>

  <section>
    {% include "recherche.html" %}
  </section>

  <section>
    {% include "render.html" %}
  </section>


  <script>
    function fillWithProfile() {
      const input = document.getElementById("keywords")
      input.value = "{{ profile }}"
    }
  </script>

</body>
</html>
